/* xxx.css */
.container {
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
}
.swiper {
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 70%;
	height: 130px;
	border: 1px solid #000000;
	indicator-color: #cf2411;
	indicator-size: 14px;
	indicator-bottom: 20px;
	indicator-right: 30px;
	margin-top: 100px;
}
.swiperContent {
	height: 100%;
	justify-content: center;
}
.button {
	width: 70%;
	margin: 10px;
}
.text {
	font-size: 40px;
}